body {
  --color-one: rgb(134, 194, 24);
  --color-two: rgb(245 135 10);
  --color-three: rgb(195, 205, 0);
}

body,
html {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.app {
  padding: 0 0;
  scroll-snap-type: y mandatory;
  overflow: auto;
  height: 100vh;
  scroll-behavior: smooth;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}
:root {
  padding: 0;
  margin: 0;
}
.logo-bg-main {
  position: absolute;
  top: 0;
  left: -500px;
  z-index: -2;
  width: 1000px;
}

/* ------------==============--------------- */
@media (max-width: 800px) {
  /* Smartphone */

  .main-page-container {
    height: 100vh;
  }

  .app {
    height: 100dvh;
    overflow: auto;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
    scroll-snap-align: end;
    scroll-behavior: smooth;

    /* scroll-snap-type: none; */
  }

  .programa,
  .main-page,
  .main-page-container,
  .contacto {
    overflow: hidden;
    height: 100%;
    box-sizing: border-box;
  }

  .contacto h1 {
    font-size: 2vh;
  }

  .programa p {
    font-size: small;
    line-height: 25px;
    letter-spacing: 2px;
  }

  .cuadritos-title {
    margin: 40px 0 20px;
    font-size: xx-large;
  }

  .cuadritos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 0 60px;
    padding: 0 20%;
    min-height: 120vw;
  }
  .cuadritos .a {
    width: 40vw;
    height: 34vw;
    background-color: var(--color-one);
    border-radius: 12px;
  }
  .cuadritos .b {
    width: 40vw;
    height: 34vw;
    background-color: var(--color-two);
    border-radius: 12px;
  }
  .cuadritos .c {
    width: 40vw;
    height: 34vw;
    background-color: var(--color-three);
    border-radius: 12px;
  }
  .main-page button {
    background-color: rgb(64 175 228);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    border-radius: 8px;
  }

  .logo-bg-main {
    display: none;
  }
  .footer-logo-container {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
  }
  .footer-logo-container img {
    width: 15vw;
  }
  .programa a {
    font-size: small;
    color: white;
    padding: 15px;
    margin-top: 1vw;
    font-weight: 600;
    cursor: pointer;
    background-color: var(--color-two);
  }
  .cuadritos img {
    width: 30%;
  }
  .cuadro {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 15%;
    color: white;
    transition: all 0.2s;
  }
  .cuadro:hover,
  .main-page button:hover {
    transform: scale(1.08);
  }
  h2 {
    padding: 0;
    margin: 0;
    font-size: large;
  }
  .contacto {
    height: 100%;
  }

  .main-page-footer {
    height: 10vh;
  }
  .nano {
    padding-bottom: 0;
  }
}

/* Rest of the selectors */
