body {
  --color-one: rgb(134, 194, 24);
  --color-two: rgb(245 135 10);
  --color-three: rgb(195, 205, 0);
}

body,
html {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.app {
  padding: 0 0;
  scroll-snap-type: y mandatory;
  overflow: auto;
  height: 100vh;
  scroll-behavior: smooth;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}
:root {
  padding: 0;
  margin: 0;
}
.logo-bg-main {
  position: absolute;
  top: 0;
  left: -500px;
  z-index: -2;
  width: 1000px;
}

.main-logo {
  width: 80%;
  max-width: 1500px;
}

.main-page-container {
  background-color: rgb(21, 50, 76);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 0;
  padding: 0;
  margin: 0;
  position: relative;
  scroll-snap-align: start;
}

.contact-info {
  width: 100%;
  text-align: center;
}

.main-page,
.programa,
.contacto {
  scroll-snap-align: start;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0);
  z-index: 0;
  position: relative;
  padding: 0;
  margin: 0;
  height: 100vh;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contacto {
  background-color: var(--color-one);
  height: 80vh;
}

.main-page {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 8px 0px 20px 10px rgba(0, 0, 0, 0.1);
}

.programa,
.contacto {
  width: 100%;
  align-items: center;
  padding: 30px 0 90px;
  color: white;
}
.main-page p,
.programa p,
.contacto p {
  color: black;
  padding: 0;
  width: 60%;
  max-width: 900px;
  margin: 4vw auto 4vw auto;
  font-size: x-large;
  font-weight: 700;
  text-align: center;
  letter-spacing: 6px;
  line-height: 35px;
}
.programa a {
  font-size: x-large;
  color: white;
  padding: 20px;
  margin-top: 1vw;
  font-weight: 600;
  cursor: pointer;
  background-color: var(--color-two);
}
.cuadritos {
  display: flex;
  justify-content: space-around;
  z-index: 1;
  width: 60%;
}

.cuadritos-title {
  font-size: xxx-large;
  margin-bottom: 120px;
  margin-top: 0;
}

.cuadritos .a {
  width: 15vw;
  height: 12vw;
  background-color: var(--color-one);
  border-radius: 12px;
}
.cuadritos .b {
  width: 15vw;
  height: 12vw;
  background-color: var(--color-two);
  border-radius: 12px;
}
.cuadritos .c {
  width: 15vw;
  height: 12vw;
  background-color: var(--color-three);
  border-radius: 12px;
}
.main-page button {
  background-color: rgb(64 175 228);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
  border-radius: 8px;
}
.main-page-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  box-shadow: 8px 0px 20px 10px rgba(0, 0, 0, 0.1);
  z-index: 3;
}
.footer-logo-container {
  display: flex;
  height: 20vh;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.footer-logo-container img {
  width: 10vw;
}
.cuadritos img {
  width: 60%;
}
.cuadro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.2s;
}
.cuadro:hover,
.main-page button:hover {
  transform: scale(1.08);
}

h2 {
  padding: 0;
  margin: 0;
  font-size: medium;
}

/* ------------==============--------------- */
@media (max-width: 800px) {
  /* Smartphone */

  .main-page-container {
    height: 100vh;
  }

  .programa,
  .main-page,
  .contacto {
    height: 100vh;
  }
  .contacto h1 {
    font-size: 2vh;
  }

  .programa p {
    font-size: small;
    line-height: 25px;
    letter-spacing: 2px;
  }

  .cuadritos-title {
    margin: 40px 0 20px;
    font-size: xx-large;
  }

  .cuadritos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 0 60px;
    padding: 0 20%;
    min-height: 120vw;
  }
  .cuadritos .a {
    width: 40vw;
    height: 34vw;
    background-color: var(--color-one);
    border-radius: 12px;
  }
  .cuadritos .b {
    width: 40vw;
    height: 34vw;
    background-color: var(--color-two);
    border-radius: 12px;
  }
  .cuadritos .c {
    width: 40vw;
    height: 34vw;
    background-color: var(--color-three);
    border-radius: 12px;
  }
  .main-page button {
    background-color: rgb(64 175 228);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    border-radius: 8px;
  }

  .logo-bg-main {
    display: none;
  }
  .footer-logo-container {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
  }
  .footer-logo-container img {
    width: 20vw;
  }
  .programa a {
    font-size: small;
    color: white;
    padding: 15px;
    margin-top: 1vw;
    font-weight: 600;
    cursor: pointer;
    background-color: var(--color-two);
  }
  .cuadritos img {
    width: 30%;
  }
  .cuadro {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 15%;
    color: white;
    transition: all 0.2s;
  }
  .cuadro:hover,
  .main-page button:hover {
    transform: scale(1.08);
  }
  h2 {
    padding: 0;
    margin: 0;
    font-size: large;
  }
  .contacto {
    height: 90vh;
  }
  .contact-info {
    margin-top: 20%;
  }
  .main-page-footer {
    height: 10vh;
  }
}

/* Rest of the selectors */
